.main {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
}
.main figure,
.body {
  width: 100%;
  height: 100%;
  background: var(--sidebar-color);
}
.main figure {
  border-top-left-radius: var(--br-03);
  border-bottom-left-radius: var(--br-03);
  overflow: hidden;
  padding: 3rem;
}
.main figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: var(--br-03);
  border-bottom-left-radius: var(--br-03);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.body {
  border-top-right-radius: var(--br-03);
  border-bottom-right-radius: var(--br-03);
  padding: 3rem;
}
.body h1 {
  font-size: var(--fz-01);
  color: var(--text-color);
  margin-bottom: 3rem;
  font-weight: bold;
}
.body p {
  font-size: var(--fz-03);
  font-weight: 400;
}
.body span {
  font-size: var(--fz-02);
  color: var(--primary-color);
  font-weight: bold;
  display: block;
  margin-top: 30px;
}
