.buttonFacebook {
    border: 3px solid transparent;
    background: var(--facebook-promary);
    width: max-content;
    padding: 10px 15px;
    border-radius: var(--br-03);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--sidebar-color);
    transition: var(--tran-02);
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
  }
  .buttonFacebook svg {
    margin-right: 15px;
    transform: scale(1.3);
  }
  .buttonFacebook path {
      color: var(--sidebar-color);
      transition: var(--tran-02);
  }
  
  .buttonFacebook:hover {
    border: 3px solid var(--facebook-promary);
    background: transparent;
  }
  .buttonFacebook:hover path,
  .buttonFacebook:hover {
    color: var(--facebook-promary);
  }